
@font-face {
    font-family: 'DroidSans';
    src: url(http://themes.googleusercontent.com/static/fonts/droidsans/v4/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
    font-family: 'DroidSansBold';
    src: url(http://themes.googleusercontent.com/static/fonts/droidsans/v4/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}
@font-face {
    font-family: 'DroidSerif';
    src: url(https://themes.googleusercontent.com/static/fonts/droidserif/v3/0AKsP294HTD-nvJgucYTaJ0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
    font-family: 'DroidSerifBold';
    src: url(https://themes.googleusercontent.com/static/fonts/droidserif/v3/QQt14e8dY39u-eYBZmppwZ_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype');
}

#page-join {
    padding:40px 20px;
	background:#328EBD;
}

#page-join ::-webkit-input-placeholder {font-family: 'DroidSans';font-weight:bold; }
#page-join ::-moz-placeholder { font-family: 'DroidSans';font-weight:bold  }
#page-join :-ms-input-placeholder { font-family: 'DroidSans'; font-weight:bold }
#page-join input:-moz-placeholder { font-family: 'DroidSans'; font-weight:bold }


#page-join .fa {
    color: #696768;
}

.page-container {
    padding-left:15px;
    padding-right:15px;
}

.button-group {
    margin-bottom: 10px;
    margin-top: 25px;
}

.login-block {
    background: #ADD2E5;
    border-radius: 5px;
    padding: 25px;
}

.login-block  input[type="text"], 
.login-block  input[type="email"], 
.login-block  input[type="password"] {
    background: #DEECF5;
    color: #70706F;
    font-family: 'DroidSans';
    font-size: 26px;
    min-height: 65px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 40px;
}

.login-button {
    background: #ADD2E5;
    color: #328EBD;
    border: none;
    font-family: 'DroidSans';
    border-radius: 5px;
    padding: 14px 35px;
    font-size: 35px;
    text-shadow: none;
    min-width: 99px;
    margin-right: 5px;
}
@media all and (max-width: 480px) {
    .login-button {
        background: #ADD2E5;
        color: #328EBD;
        border: none;
        font-family: 'DroidSans';
        border-radius: 5px;
        padding: 10px 17px;
        font-size: 35px;
        text-shadow: none;
        min-width: 99px;
        margin-right: 5px;
    }
}

.login-button-active {
    background:#537689;
    color:#ffffff;
}

.login-button-submit{
    background:#328EBD;
    color:#ffffff;
    text-shadow: none;
    box-shadow: 1px 2px 0px #888888;
}

#page-join  hr {
    color: white;
    border-top: 3px solid #eee;
}

.login-block h4 {
    color: #328EBD;
    font-family: 'DroidSans';
    font-size: 26px;
    margin: 0 0 20px 0;
}

.social-button li a i {
    padding: 10px;
    font-size: 34px;
    box-shadow: 1px 4px 0px #888888;
    border-radius: 5px;
    background: #DBE8F0;
    min-width: 63px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.social-button >li{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.login-block p {
    color: #71B0D2;
    font-family: 'DroidSans';
    font-size: 18px;
    font-weight: bold;
}

.remember-me-block {
	padding:15px;
}

.remember-me{
    color:#fff;
    font-family: 'DroidSans';
    font-size:20px;
    margin-left: 10px;
}

 #page-homepage .heading{
    background:#328EBD;
    padding:10px;
    font-size:18px;
	color:#fff;
	border-radius:5px;
	margin-top: 15px;
}

 #page-homepage {
    background:#C1DCE6;
    padding-bottom: 20px;
}

.op-header {
    background: #328EBD;
    padding: 10px;
    color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
}
.menu{
    background: url('../images/menu-logo.png') no-repeat;
    padding: 19px;
    background-size: contain;
	float:left;
	margin-top: 5px;
}

.logo {
	width:80%;
	max-width:365px;
}

.memorial-slider figcaption{
    width: 100%;
    color: #3e3e3e;
    font-family: 'DroidSerif';
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -ms-transition: -ms-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    transition: transform 0.4s;
}
.memorial-slider  figure .top-image,
.memorial-slider  figure .thumb-image
.memorial-slider  figure .top-image,
.memorial-slider  figure .thumb-image {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -ms-transition: -ms-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    transition: transform 0.4s;

}


.memorial-slider  figure:hover .top-image,
.memorial-slider  figure:hover .thumb-image,
.memorial-slider  figure.cs-hover .top-image,
.memorial-slider  figure.cs-hover .thumb-image {
    -webkit-transition: -webkit-transform 1.2s;
    -moz-transition: -moz-transform 1.2s;
    -ms-transition: -ms-transform 1.2s;
    -o-transition: -o-transform 1.2s;
    transition: transform 1.2s;

    -webkit-transform: translateY(-105%);
    -moz-transform: translateY(-105%);
    -ms-transform: translateY(-105%);
    -o-transform: translateY(-105%);
    transform: translateY(-105%);
}

.memorial-slider  figure:hover figcaption,
.memorial-slider  figure.cs-hover figcaption {
    -webkit-transform: translateY(-65px);
    -moz-transform: translateY(-65px);
    -ms-transform: translateY(-65px);
    -o-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-transition: -webkit-transform 1.2s;
    -moz-transition: -moz-transform 1.2s;
    -o-transition: -o-transform 1.2s;
    -ms-transition: -ms-transform 1.2s;
    transition: transform 1.2s;
}
.padding-200 {
  padding-top:50px;
}


.memorial-figure {
  background:#E4EEF0;
  margin-top: 8px;
  border-bottom: 2px solid #71B1D1;
  min-height: 420px !important;
  overflow: hidden;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  text-align:center;
}
.memorial-figure h4 {
  color:#5D6164;
  font-family: 'DroidSans';
  font-size:18px;
}
.memorial-figure p {
  color:#5D6164;
  font-family: 'DroidSans';
  font-size:15px;
  padding:25px;
}
.memorial-figure-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width:100%
}

.memorial-footer > div{
  background: #E4EEF0;
  min-height: 43px;
  border-right: 2px solid #71B1D1;
  padding-top: 5px;
  position:relative;
}

span.hit-count {
  position: absolute;
  font-weight: bold;
  left: 76px;
  top: 16px;
}

.memorial-footer > div:last-child {
  border-right: 0px;
}

.profile-image {
	margin-top: -12.3%;
    border-radius: 50%;
}


.list-group-custom{
  background-color: #328ebd !important;
  border-top: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
  border-left: 1px solid #328ebd !important;
  border-right: 1px solid #328ebd !important;


}

a.list-group-custom {
    color: #fff !important;
}

#page-message {
	background:#B8D3DE;
	padding-bottom: 10px;
}

#page-message .heading {
    background: #E4EDF2;
    padding: 10px;
    font-size: 18px;
    border-top: 1px solid #B8D3DE;
    border-bottom: 1px solid #B8D3DE;
    font-weight: bold;
}

#page-message .to {
    background: #fff;
    padding: 10px;
    border-top: 2px solid #C1C1C1;
    border-bottom: 2px solid #C1C1C1;
}

.text-area {
    background: #FAFBFD;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'DroidSans';
    font-size: 12px;
    color: #3285B4;
    padding: 4px;
    border: 4px solid #E0E0E2;
}

.add-photo {
	font-size: 14px;
	font-weight:bold;
}

.add-photo i {
	padding: 0 6px;
	
}

.send-button {
    color: #ffffff;
    text-shadow: none;
    box-shadow: 1px 2px 0px #888888;
    background: #328EBD;

    border: none;
    font-family: 'DroidSans';
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 18px;
    min-width: 69px;
    margin-right: 5px;
  color: #fff !important;
}

/* page 27 */
.header-background{
    background-color: #3e8db8;
    padding-bottom: 10px;
}

.header-message{
    padding-left: 20px;
    font-weight: normal;
}

.bckSecondMsg{
    background-color: #3185b4;
    color: #ffffff;
}

.user-container{
    margin: 10px;
}

.user-name{
    color: #3185b4;
    font-weight: bolder;
}

.user-detail{
    color: #686765;
}

.user-record{
    color: #3185b4;
    font-weight: bold;
}

.header-one {
    background: #E6F1F5;
    padding: 10px;
    color: #3284B3;
    margin: 15px 0;
    font-size: 26px;
}

#page-message .messages-block {
    margin: 15px 0;
    border: 2px solid #86B5CF;
    border-radius: 5px;
    background: #E4EDF2;
    display: inline-block;
	padding-bottom:25px;
}

#page-message .message-body {
    border-bottom: 2px solid #86B5CF;
    padding: 25px;
}

#page-message .messages-block .message-body:last-child {
    border-bottom: 0;
}

#page-message .message-description {
    font-size:26px;
    line-height: 130%;
}

#page-message .message-description img.half {
    margin-top:15px;
    width:49%;
}

#page-message .message-description img.full {
    margin-top:15px;
    width:99%;
}

#page-message .author {
    padding-top:55px;
}

#page-message .message-head img {
    margin-right:15px;
    float:left;
}

#page-message .author h5 {
    font-family: 'DroidSans';
    font-size: 16px;
    color: #3E3D3D;
    font-weight: bold;
    margin-bottom:5px;
}

#page-message .author p {
    font-family: 'DroidSans';
    font-size: 14px;
    color: #3E3D3D;
}

#page-message .table-type-blocks {
    background: #E4EDF2;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 7px 0;
}

#page-message .table-type-blocks span {
    width: 70%;
    display: inline-block;
}

#page-message .table-type-blocks span:last-child {
    width: 29%;
}

.text-area-options {
	font-weight:bold;
}

.text-area-options i {
	margin-right:5px;
}


#page-message .table-type-body {
    background: #E4EDF2;
    font-size:26px;
    padding-bottom:10px;
    margin-bottom:10px;
}
#page-message .table-type-body p{
    margin-top: 5px;
    padding: 5px 20px;
    margin: 7px 15px;
}

#page-message .table-type-body p span {
    width:60%
}

#page-message .table-type-body p span:last-child{
    float:right;
	width:40%
}

#page-message .footer p{
    padding: 10px;
    color: #3286B4;
    font-size: 18px;
}